<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                @Html.ActionLink("Video Demand(VD)", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ">
                <a class="nav-item nav-link mx-3" href="/page2">    @Html.ActionLink("Customers", "Index", "Customers")</a>
                <a class="nav-item nav-link mx-3" href="/page2">    @Html.ActionLink("Movies", "Index", "Movies")</a>
                <a class="nav-item nav-link mx-3" href="/page2">    @Html.ActionLink("Contact", "Contact", "Home")</a>
                <a class="nav-item nav-link mx-3" href="/page2">    @Html.ActionLink("About", "About", "Home")</a>


            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-item nav-link mx-3" href="/page2">    @Html.ActionLink("My Account", "Account", "Register")</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        </nav>
    </div>
</div>
